<section class="page-title dark-bg page-bg">
  <div class="overlay" style="min-height:0%">
    <div class="container">
      <div class="section-title">
        <h2>Play</h2>
        <div class="line"></div>
        <p>play html5 games on your browser</p>
      </div>
    </div>
  </div>
</section>

<section id="play-game" class="content-block default-bg play-game" {{bind-attr class="isPlaying"}}>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="game-wrap">
          <div class="game-container">
            
            <div class="game-placeholder-wrap" {{bind-attr class="isPlaying:hidden"}}>
              <div class="game-placeholder"  {{action 'startGame' }}>
                <div class="gc">
                  <h1 class="event-game-title">Play Now</h1>
                  <h2 class="event-game-subtitle">Lose Your Marbles</h2>
                </div>
              </div>
              <span class="game-play-ic fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-play fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="game-area-wrap">
              <div id="game-area" class="game-area"></div>
              <div class="game-actions">
                <a data-toggle="tooltip" title="Fullscreen" {{action 'fullscreen'}}>
                  <i class="fa fa-square-o fa-4x fa-inverse"></i>
                </a>
                <a data-toggle="tooltip" title="Volume" {{action 'setVolume'}}>
                  <i class="fa fa-headphones fa-4x fa-inverse"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
